main {
  padding: 1rem;
}

.content {
  display: grid;
  grid-template-areas:
    "hero hero hero"
    "main main main"
    ".. sidebar .."
    ".. carousel .."
  ;
  grid-auto-rows: auto;
  gap: 1rem;
  margin-top: 1rem;
}

.main {
  grid-area: main;
  max-width: 760px;
}
.sidebar {
  grid-area: sidebar;
  width: 200px;
}
.hero {
  grid-area: hero;
  width: 100%;
}
.carousel {
  grid-area: carousel;
  width: 350px;
}

.main, .sidebar, .carousel {
  container-type: inline-size;
}

.hero {
  container-type: inline-size;
  container-name: hero;
}
