:root {
  --color-1: #480ca8;
  --color-2: #7209b7;
  --color-3: #b5179e;
  --color-4: #0ca87e;
  --color-5: #0971b7;
  --color-6: #b51717;
  --white: #fff;
  --black: #000;
  --light-gray: #f0f0f0;
  --hero-text-bg: rgba(0, 0, 0, 0.5);
  --card-shdadow: 0px 3px 5px 0px #AAAAAA;
}

body {
  margin: 0;
  color: var(--black);
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo {
  width: 150px;
}

.header-text {
  text-align: center;
}

.container {
  padding: 0 2rem;
}

.card:not(.card-hero) div {
  padding: 1rem;
}

.header-container {
  background-color: var(--color-1);
  color: var(--white);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.cards {
  display: grid;
  gap: 1rem;
  margin-bottom: 3rem;
  grid-template-columns: 1fr;
}

.card {
  display: grid;
  box-shadow: var(--card-shdadow);
  border-radius: 4px;
  overflow: hidden;
}

.card-hero {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr;
  box-shadow: none;
}

.card-hero img {
  grid-row: 1 / span 2;
  grid-column: 1 / 2;
}

.card-hero div {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  background-color: var(--hero-text-bg);
  color: var(--white);
  padding: 1rem;
}

.card-horizontal {
  grid-template-columns: repeat(2, 1fr);
}

.card-vertical {
  grid-template-rows: repeat(2, 1fr);
}

@media (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }

  .card-hero {
    grid-column: 1 / span 4;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
  }

  .card-hero img {
    grid-row: 1 / span 3;
    grid-column: 1 / span 3;
  }

  .card-hero div {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  .card-vertical {
    grid-column: span 2;
  }

  .card-recents {
    grid-row: 3 / 5;
    grid-column: 4 / 5;
  }

  .span-2-col {
    grid-column: span 2;
  }
  
  .span-3-col {
    grid-column: span 3;
  }
}

@media (min-width: 1024px) {
  .card-vertical {
    grid-column: auto;
  }
}
